'.source.texton':
  'seq':
    'prefix': '@seq'
    'body': """
      @seq {
        $1
      }
    """
  'choice':
    'prefix': '@choice'
    'body': """
      @choice {
        $1
      }
    """
  'function':
    'prefix': '@func'
    'body': """
      @func @$1 {
        $2
      }
    """
  'variable':
    'prefix': '@var'
    'body': """
      @var \$$1 = \"$2\"
        {
          \"$3\"
        }
    """
  'free variable':
    'prefix': '@varf'
    'body': """
      @var @free \$$1 = \"$2\"
        {
          \"$3\"
        }
    """
  'attribute':
    'prefix': '@att'
    'body': """
      @att \%$1 = \"$2\"
        {
          \"$3\"
        }
    """

  'import':
    'prefix': '@import'
    'body': '@import \"$1\"'

  'Constrain by attribute':
    'prefix': 'ca'
    'body': '[%$1 = \"$2\"]'

  'Constrain by variable':
    'prefix': 'cv'
    'body': '[\$$1 = \"$2\"]'
