# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#..
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'atom-workspace atom-text-editor:not([mini])[data-grammar~=texton]':
  'alt-enter': 'TextOn:Send-To-Generator'
  'ctrl-d': 'TextOn:Go-To-Definition'
  'alt-b': 'TextOn:View-Browser'

'.texton-browser':
  'right': 'TextOn:browser-expand-collapsible'
  'left': 'TextOn:browser-collapse-collapsible'
